<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
<div th:fragment="bottomMainFragment">
    <div id="bottomMainWrap">
    <!--####################################################################################################################################################################################################################################-->
        <div id="liveWrap">
        <!--*****************************************************************************************************************-->
        <div class="menuTitle">
            <span>LIVE 일정</span>
        </div>
        <!--*****************************************************************************************************************-->
        <div id="productGallery">
            <!--*****************************************************************************************************************-->
            <div class="inner on">
                <ul class="list_product clicked">
                    <!--*****************************************************************************************************************-->
                    <li>
                        <div class="calenderWrap">
                            <!--*************************************************************-->
                            <div class="calender">
                                <div>
                                    <table>
                                        <tbody>
                                        <tr><th>일</th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th><th>토</th></tr><br />
                                        <tr><th> </th><th>1</th><th>2</th><th>3</th><th>5</th><th>6</th><th>7</th></tr><br />
                                        <tr><th>8</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th></tr><br />
                                        <tr><th>15</th><th>16</th><th>17</th><th>18</th><th>19</th><th>20</th><th>21</th></tr><br />
                                        <tr><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th><th>28</th></tr><br />
                                        <tr><th>29</th><th>30</th><th>31</th><th> </th><th> </th><th> </th><th> </th></tr><br />
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--*************************************************************-->
                            <div class="prodTxt">2018년 1월</div>
                            <!--*************************************************************-->
                        </div>
                    </li>
                    <!--*****************************************************************************************************************-->
                    <li>
                        <div class="calenderWrap">
                            <!--*************************************************************-->
                            <div class="calender">
                                <div>
                                    <table>
                                        <tbody>
                                        <tr><th>일</th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th><th>토</th></tr><br />
                                        <tr><th> </th><th> </th><th> </th><th> </th><th>1</th><th>2</th><th>3</th></tr><br />
                                        <tr><th>4</th><th>5</th><th>6</th><th>11</th><th>12</th><th>13</th><th>14</th></tr><br />
                                        <tr><th>11</th><th>12</th><th>13</th><th>18</th><th>19</th><th>20</th><th>21</th></tr><br />
                                        <tr><th>18</th><th>19</th><th>20</th><th>21</th><th>22</th><th>23</th><th>24</th></tr><br />
                                        <tr><th>25</th><th>26</th><th>27</th><th>28</th><th> </th><th> </th><th> </th></tr><br />
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--*************************************************************-->
                            <div class="prodTxt">2018년 2월</div>
                            <!--*************************************************************-->
                        </div>
                    </li>
                    <!--*****************************************************************************************************************-->
                    <li>
                        <div class="calenderWrap">
                            <!--*************************************************************-->
                            <div class="calender">
                                <div>
                                    <table>
                                        <tbody>
                                        <tr><th>일</th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th><th>토</th></tr><br />
                                        <tr><th> </th><th> </th><th> </th><th> </th><th>1</th><th>2</th><th>3</th></tr><br />
                                        <tr><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th></tr><br />
                                        <tr><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th></tr><br />
                                        <tr><th>18</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th><th>24</th></tr><br />
                                        <tr><th>25</th><th>26</th><th>27</th><th>28</th><th>29</th><th>30</th><th>31</th></tr><br />
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--*************************************************************-->
                            <div class="prodTxt">2018년 3월</div>
                            <!--*************************************************************-->
                        </div>
                    </li>
                    <!--*****************************************************************************************************************-->
                </ul>
            </div>
            <a class="links_prev" href="#"><img src="../images/main/btnIntroLeft_mod.png" alt="이전상품보기"/></a>
            <a class="links_next" href="#"><img src="../images/main/btnIntroRight_mod.png" alt="다음상품보기"/></a>
        </div>
    </div>
    <!--####################################################################################################################################################################################################################################-->
        <div id="uploadRecent">
        <div class="menuTitle"><span>최근 업로드된 강의</span></div>
        <div class="inBoxContent">
            <ul>
                <li><a href="#">Spring boot로 시작하는 웹 어플리케이션</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
                <li><a href="#">temporibus veritatis. Alias atque blanditiis </a></li>
            </ul>
        </div>
        <div class="more">
            <a href="#">더보기</a>
        </div>
    </div>
    <!--####################################################################################################################################################################################################################################-->
        <div id="askLec">
            <div class="menuTitle"><span>듣고싶은 강의 신청하기</span></div>
            <div class="inBoxContent">
                <th:block th:each="list : ${requestContentsList}">
                <ul>
                    <li><a th:href="@{'/requestContents/' + ${list.writer.id} + '/show/'}" th:text="${list.title}"></a></li>
                </ul>
                </th:block>
            </div>
            <div class="more">
                <a th:if="${session.userSession == null}" th:href="@{/user/login/form}">더보기</a>
                <a th:unless="${session.userSession == null}" th:href="@{'/requestContents/list'}">더보기</a>
            </div>
            <div class="writeBtn">
                <a th:if="${session.userSession == null}" th:href="@{/user/login/form}">글쓰기</a>
                <a th:unless="${session.userSession == null}" th:href="@{'/requestContents/' + ${session.userSession.id} + '/form'}">글쓰기</a>
            </div>
        </div>
    <!--####################################################################################################################################################################################################################################-->
    </div>
</div>
</body>
</html>