<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
<div th:fragment="footerFragment">
    <div id="footer">
        <div id="footerTop">
            <ul>
                <li><a href="#">유투브</a></li>
                <li>|</li>
                <li><a href="#">페이스북</a></li>
                <li>|</li>
                <li><a href="#">instagram</a></li>
                <li>|</li>
                <li><a href="#">카카오톡</a></li>
                <li>|</li>
                <li><a href="#">개인정보 처리방침</a></li>
            </ul>
        </div>
        <!--###########################################################-->
        <div id="footerBottom">
            <ul>
                <li>경기도 수원시</li>
                <li>bakb0j00@outlook.kr</li>
                <li>박병주</li>
            </ul>
        </div>
        <!--###########################################################-->
        <div id="footerHidden">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <!--###########################################################-->
    </div>
</div>
</body>
</html>