<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
<div th:fragment="navigatorFragment">
    <div class="headWrap">
        <!--#######################################################################################################################################################################################################-->
        <div id="leftNav">
            <div class="leftNavWrap">
                <div id="userNick" sec:authorize="isAuthenticated()">
                    <span sec:authentication="principal.nick"/><span th:text="'님 안녕하세요'"></span>
                </div>
                <div class="navList">
                    <div class="login" sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></div>
                    <div class="login" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></div>
                    <div><a href="#">전체강의</a></div>
                    <div><a th:href="@{/user/myPage}">마이페이지</a></div>
                    <div class="onAir"><a href="#">OnAir</a></div>
                </div>
            </div>
        </div>
        <!--#######################################################################################################################################################################################################-->
        <div id="mainHead">
            <div class="mainHeadWrap">
                <!--*****************************************************************************************************************************-->
                <div class="logo"><a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="야근하지말자"/></a></div>
                <!--*****************************************************************************************************************************-->
                <form action="#" name="search_form" method="get" onsubmit="return goSearch(this);">
                    <fieldset id="globalSearch">
                        <legend>전체검색</legend>
                        <input type="text" id="search01" name="search" placeholder="edit placeholder" title="매장 또는 제품명을 입력하세요."/>
                        <label for="search01"></label>
                        <button type="submit">Q</button>
                    </fieldset>
                </form>
                <a href="#" class="menuBtn"></a>
                <a href="#" class="searchOpen"><img th:src="@{/images/searchBtn.gif}" alt="searchBtn"/></a>
            </div>
        </div>
        <!--#######################################################################################################################################################################################################-->
        <nav id="mainNav">
            <div class="mainNavWrap">
                <ul class="navStep1">
                    <!--***************************************************************************************************************************************************************-->
                    <li class="firstMenu">
                        <a href="#">
                            <span>웹어플리케이션</span>
                        </a>
                    </li>
                    <!--***************************************************************************************************************************************************************-->
                    <li>
                        <a href="#">
                            <span>언어</span>
                        </a>
                    </li>
                    <!--***************************************************************************************************************************************************************-->
                    <li>
                        <a href="#">
                            <span>프레임워크</span>
                        </a>
                    </li>
                    <!--***************************************************************************************************************************************************************-->
                    <li>
                        <a href="#">
                            <span>데이터베이스</span>
                        </a>
                    </li>
                    <!--***************************************************************************************************************************************************************-->
                    <li>
                        <a href="#">
                            <span>서버</span>
                        </a>
                    </li>
                    <!--***************************************************************************************************************************************************************-->
                    <li>
                        <a href="#">
                            <span>디자인</span>
                        </a>
                    </li>
                    <!--***************************************************************************************************************************************************************-->
                    <li>
                        <a href="#">
                            <span style="font-size:1.2em">교양</span>
                        </a>
                    </li>
                    <!--***************************************************************************************************************************************************************-->
                </ul>
            </div>
        </nav>
        <!--#######################################################################################################################################################################################################-->
    </div>
</div>
</body>
</html>