<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="fragment/head :: headFragment" ></div>
<body>
<div class="bodyWrap">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div th:include="fragment/navigator :: navigatorFragment" ></div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="topMainWrap">
        <!--#####################################################################################################################################################################################################################-->
        <div id="location" th:text="'홈 &lt; 로그인 &lt; 회원가입 &lt; 링크전송 &nbsp;&nbsp;&nbsp;'"></div>
        <div class="registerBody" style="padding-top: 100px;">
            <h3 th:text="'축하합니다! 회원가입이 모두 완료되었습니다.'"/>
            <h3 th:text="'더 나은 콘텐츠 제공으로 여러분들을 도와드리겠습니다.'" style="color: #9b2948;"/>
            <hr style="width: 90%;"/>
            <a id="goToHome" th:href="@{/}" th:text="'홈으로 가기'"/>
        </div>
        <!--#####################################################################################################################################################################################################################-->
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div th:include="fragment/footer :: footerFragment" ></div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</div>
<div th:include="fragment/script :: scriptFragment" ></div>
</body>
</html>
